@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .h1, .h2 {
    @apply leading-none;
  }

  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }

  .barge {
    @apply w-[390px] lg:w-[500px] mx-auto px-[46px];
  }

}